.center {
    flex:0.6;
    display: flex;
    lex-direction:column;
}

.title {
	flex:0.05;
	display:flex;
}

.main{
	flex: 0.8px;
	background-color:#ffffff;
	border: 1px solid #e6e3e3;
	border-radius: 11px;
    margin: 0;
    padd
    display:flex;
	flex-direction:column;
}

.calendar {

    display: inline-block;
    height: 60px;
    margin: 10px;
    border-radius: 9px;
    border: 1px solid rgb(182, 182, 182);
    display: flex;
}

.month {
    flex:0.13;
    padding: 5px 5px;
    text-align: center;
    color: #23728a; 
    margin-top: 5px;   
}


.date {
    flex:0.5;
}

td{   
    padding: 4px 4px;
    vertical-align: middle;
    text-align: center;
}

.sat {
    color:blue;
}
.sun{
    color:red;
}


.diaryform{
    flex: 0.5px;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x:hidden;
}

.writeform{
    flex:0.2px;
    display:flex;
    flex-direction:column;
    border-radius:9px;
    border: 1px solid rgb(190, 187, 187);
    margin : 30px;
}

.day{
    flex:0.3px;
    display: inline-flex; 
    padding: 25px;
}

.write{
    flex:0.5px;
    display: inline-block;
    width: 500px;
    text-align: center;   
    line-height: 40px;
    padding-bottom: 30px;  
}

.secret{
    flex:0.2px;
    width:150px;
    height: 50px;
    text-align: center;
    color:#ffffff;
    margin-left: 230px;
    margin-top: 20px;
    margin-bottom: 70px;

}

.secret:hover, .diary-button:hover{
    color:rgb(255, 255, 255);
    font-weight: bold;
    transition: 1000ms ease all;
    cursor: pointer;
    background-color: #1b996f; 
}

.diary-button{
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border: none;
    border-radius: 7px;
    color: #fff;
    display: block;
}

.icon{
    color:rgb(255, 255, 255);
}

.diary-title{
    padding: 18px;
}

.diary-text {
    width: 180px;
    margin: 0 auto;
}

#secret-box{
    display: none;
    font-size: 20px;
    margin-top: 30px;
}

.diary-box {
    flex:0.5px;
    display: inline-block;
    width: 500px;
    text-align: center;   
    border-radius:9px;
    border: 1px solid rgb(190, 187, 187);
    margin : 30px;
    line-height: 40px;
    padding-bottom: 30px;
}

