.menuWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background: transparent;
  position: absolute;
  top: 20%;
  left: 40px;
  height: 50%;
  width: 150px;
  z-index: 999;
  border: 1px solid #000;
  .menu {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    a {
      border: 1px solid gray;
      border-radius: 10px;
      display: block;
      text-decoration: none;
      color: gray;
      font-weight: bold;
      transition: 0.3s;
      &:hover {
        background: #6d8a78;
        border: 1px solid #6d8a78;
        color: #fff;
      }
    }
  }
}
